---
layout: home
title: "Inicio"
---

<!--Big Picture-->
{% assign jumbotron = site.data.home['jumbotron'] %}
<div class="p-3 bg-light">
  <div class="container-fluid pt-5">
    <h1 class="display-5 fw-bold">{{ jumbotron.title }}</h1>
    <h2 class="fw-bold">{{ jumbotron.subtitle }}</h2>
    <p class="col-md-8 fs-4">{{ jumbotron.description }}</p>
  </div>
</div>
<div class="mb-4">
  <img src="{{ jumbotron.image }}" class="img-fluid" alt="mapa">
</div>

<!--Big Concept-->
<div class="row align-items-md-stretch mb-5">
  {% assign calltoaction = site.data.home['calltoaction'] %}
  <div class="col-md-7">
    <div class="h-100 py-5 pe-md-5">
      <h2 class="fw-bold mb-4">{{ calltoaction.title }}</h2>
      <p class="fs-5">{{ calltoaction.description }}</p>
      <a href="{{ calltoaction.link }}" class="btn btn-secondary">Conocer Más</a>
    </div>
  </div>
  {% assign program = site.data.home['program'] %}
  <div class="col-md-5">
    <div class="my-5 p-4 text-bg-dark bg-brand rounded-4">
      <h5 class="fw-bold mb-4 text-center">{{ program.title }}</h5>
      <p class="mb-0">{{ program.description }}</p>
    </div>
  </div>
</div>

<!--Posts-->
{% assign ourwork = site.data.home['ourwork'] %}
<div class="row align-items-md-stretch mb-5 mt-5">
  <div class="col-12">
    <h2 class="fw-bold mb-5">{{ ourwork.title }}</h2>
  </div>
  {% for post in site.posts %}
  <div class="col-md-4">
    <div class="h-100 p-4 rounded-2 border">
      <h4>{{ post.title }}</h4>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url }}">Leer Más</a>
    </div>
  </div>
  {% endfor %}
</div>

<!--Participantes-->
{% assign participants = site.data.home['participants'] %}
<div class="row bg-light p-5 align-items-md-stretch mb-5">
  <div class="col-12">
    <h2 class="mb-5 fw-bold">{{ participants.title }}</h2>
  </div>
  {% for item in participants.list %}
  <div class="col-md-2">
    <div class="h-100 p-2 rounded-1">
      <h5>{{ item.name }}</h5>
      <p>{{ item.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>