<footer class="bd-footer">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-3 mb-3 text-center">
        <a class="link-dark text-decoration-none" href="https://www.ipgh.org/mx/" aria-label="IPGH">
          <img src="{{ " /assets/img/IPGH_logo.png" }}" alt="NGIGEV" height="120px;">
          <h6 class="my-3">INSTITUTO PANAMERICANO DE GEOGRAFÍA E HISTORIA</h6>
        </a>
      </div>
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="NGIGEV">
          <span class="fs-6 ">NGIGEV <br> Nombres Geograficos Volutarios</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Diseñado y construido con mucha pasión por el <a
              href="https://geoid.mx/">EQUIPO GEOID</a> con la ayuda de <a
              href="#">nuestros colaboradores</a>.</li>
          <li class="mb-2">Código bajo la licencia <a href="#" target="_blank"
              rel="license noopener">XXX</a>, documentación <a href="#"
              target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
          <li class="mb-2">Versión Actual v1.0.0.</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Guias</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">Cómo empezar</a></li>
          <li class="mb-2"><a href="#">Alcances</a></li>
          <li class="mb-2"><a href="#">Limitaciones</a></li>
          <li class="mb-2"><a href="#">Cómo seguir</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Comunidad</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#">IPGH</a></li>
          <li class="mb-2"><a href="#">Institutos</a></li>
          <li class="mb-2"><a href="#">OSM</a></li>
          <li class="mb-2"><a href="#">OEA</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>