<!DOCTYPE html>
<html lang="{{ site.lang | default: " es-MX" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">

</head>

<body>
  {% include header.html %}
  <main class="container">
    {{ content }}
    <div class="bg-accent mt-5" style="height:0.25rem;"></div>
  </main>
  {% include footer.html %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>